* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background: orange;
    color: rgb(218, 205, 205);
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 100px;
    background: orange;
    font-size: 23px;
}

.clock-timer-text {
    width: 400px;
    margin-bottom: 5px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

.clock-text, .timer-text, .analog-text, .digital-text {
    display: flex;
    flex-direction:column;
    padding: 5px 10px;
    border-radius: 50px;

    &:hover {
        cursor: pointer;
    }
}

.clock-text, .timer-text {
    color: black;
    font-weight: bold;    
}

.underline-clock, .underline-timer {
    height: 5px;
    width: 100%;
    background: white;
    transition: all 0.5s ease;
}

.clock-timer-container {
    width: 400px;
    height: 400px;
    background: orangered;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    transition: all 3s ease;       
}

.clock {
    transition: all 1s ease;
    position: relative;
    bottom: 0px;
}

.digital {
    display: flex;
    font-size: 50px;
    justify-content: center;
    top: 150px;
    left: 80px;
    z-index: 2;
    position: absolute;
    transition: all 1s ease;

    & > span {
        margin: 0 5px 0;
        cursor: context-menu;
    }
}

.analog {
    z-index: 1;
    position: absolute;
    transition: all 1s ease;
    top: 60px;
    left: 400px;
}

.outer-circle {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 1px solid black;
    background: white;
    position: absolute;   
}

.inner-circle {
    position: absolute;
    background: white;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    top: 25px;
    left: 25px;
    cursor: context-menu;

    p {
        color: black;
        position: absolute;
    }
    
    p:first-child{
        left: 45%;
        top: 0;
    }
    
    p:nth-child(4) {
        top: 45%;
        left: 1%;
    }
    
    p:nth-child(2) {
        top: 45%;
        right: 0;
    }
    
    p:nth-child(3) {
        bottom: 0;
        left: 47%;
    }
    
    p:nth-child(5) {
        font-size: 15px;
        right: 25%;
        top: 7%;
    }
    
    p:nth-child(6) {
        font-size: 15px;
        right: 8%;
        top: 23%;
    }
    
    p:nth-child(7) {
        font-size: 15px;
        right: 8%;
        bottom: 23%;
    }
    
    p:nth-child(8) {
        font-size: 15px;
        right: 25%;
        bottom: 7%;
    }
    
    p:nth-child(9) {
        font-size: 15px;
        left: 25%;
        bottom: 7%;
    }
    
    p:nth-child(10) {
        font-size: 15px;
        left: 8%;
        bottom: 23%;
    }
    
    p:nth-child(11) {
        font-size: 15px;
        left: 8%;
        top: 23%;
    }
    
    p:nth-child(12) {
        font-size: 15px;
        left: 25%;
        top: 7%;
    }
    
}

.hour-hand {
    width: 3px;
    height: 40px;
    background: black;
    position: absolute;
    bottom: 49%;
    left: 49%;
    transform-origin: bottom;
}

.minute-hand {
    width: 2px;
    height: 70px;
    background: black;
    position: absolute;
    bottom: 49%;
    left: 49.25%;
    transform-origin: bottom;
}

.second-hand {
    width: 1px;
    height: 80px;
    background: black;
    position: absolute;
    bottom: 49%;
    left: 49.5%;
    transform-origin: bottom;
}


.analog-digital-text {
    width: 400px;
    justify-content: space-evenly;
    position: absolute;
    top: 340px;
    display: flex;
    flex-direction: row;               
}

.underline-digital, .underline-analog {
    height: 5px;
    background: black;
    transition: all 0.5s ease;
}

.underline-digital {
    width: 100%;
}

.underline-analog {
    width: 0%;
}






// .analog-text {
//     @include text-labels;

//     // &:hover {
//     //     background: rgb(185, 181, 181);
//     //     color: black;
//     // }

//     div {
//         height: 5px;
//         width: 0;
//         background: black;
//         transition: all 0.5s ease;
//     }

//     &:hover {
//         cursor: pointer;
//     }
// }

.timer {
    background: transparent;
    z-index: 4;
    position: absolute;
    //top: 105px;
    top: -400px;
    left: 63px;
    transition: all 1s ease;           
}

.error {
    left: 68px;
    position: absolute;
    top: -50px;
    cursor: context-menu;
}

.info {
    position: relative;
    top: 25px;
    height: 30px;
    display: flex;
    justify-content: center;
    cursor: context-menu;
}

.control {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;

}

.start, .pause, .stop {
    position: relative;
    background: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.start {
    margin-left: 40px;

    &:hover {
        cursor: pointer;
    }

    &::after {
        content: '';
        position: absolute;
        top: 15px;
        left: 20px;
        border-left: 14px solid white;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        transition: top 0.5s ease;
    }
}

.pause {
    margin-left: 40px;
    
    &:hover {
        cursor: pointer;
    }

    &::before {
        content: '';
        position: absolute;
        top: 15px;
        left: 18px;
        width: 3px;
        height: 20px;
        border-radius: 30%;
        background: white;
        transition: left 0.5s ease;
    }

    &::after {
        content: '';
        position: absolute;
        top: 15px;
        left: 28px;
        width: 3px;
        height: 20px;
        border-radius: 30%;
        background: white;
        transition: left 0.5s ease;
    }
}

.stop {
    margin-right: 40px;
    cursor: context-menu;

    &::after {
        content: '';
        position: absolute;
        left: 17.5px;
        top: 17.5px;
        width: 15px;
        height: 15px;
        border-radius: 15%;
        background: white;
    }
}

.stop-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 2;
    background-color: grey;
    opacity: 50%;
}

.timer-numbers {
    display: flex;
    font-size: 60px;

    p {
        margin: 0 5px 0;
        cursor: context-menu;
    }
}

.timer-number {
    border: 2px solid black;
    background: white;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    color: black;
    cursor: context-menu;
}

.arrow-up {
    position: absolute;
    background: black;
    // opacity: 70%;
    cursor: pointer;
    width: 100%;
    height: 20px;
    transition: all 1s ease-in;

    &::after {
        content: '';
        position: absolute;
        top: 4px;
        left: 35%;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid white;
    }
}

.arrow-down {
    position: absolute;
    background: black;
    bottom: 0;
    // opacity: 70%;
    cursor: pointer;
    width: 100%;
    height: 20px;
    transition: all 1s ease-in;

    &::after {
        content: '';
        position: absolute;
        top: 4px;
        left: 35%;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid white;
    }
}


.t-num-h, .t-num-m, .t-num-s {
    padding: 10px 0;
}



